{% extends 'quotes/base.html' %}
{% block content %}
<form action="{% url 'add_stock' %}" class="d-flex" method="POST">
	{% csrf_token %}
	<input class="form-control me-2" type="search" placeholder="Add Ticket to Portfolio" aria-label="Search" name="ticker">
	<button class="btn btn-outline-secondary" type="submit">Add Stock </button>
</form>
<br/>
<br/>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Company Name</th>
      <th scope="col">Latest Price</th>
      <th scope="col">Previous Close</th>
       <th scope="col">Market Cap</th>
      <th scope="col">YTD Change</th>
      <th scope="col">52WK High</th>
      <th scope="col">52WK Low</th>    
      
    </tr>
  </thead>
  <tbody>
{% if api_list %}
	  {% for api in api_list %}
		{% if api != "Error..." %}
		    <tr>
		      <th scope="row">{{ api.companyName }} </th>
		      <th scope="col">${{ api.latestPrice }}</th>
		      <th scope="col">{{ api.previousClose }}</th>
		      <th scope="col">{{ api.marketCap }}</th>
		      <th scope="col">{{ api.ytdChange }}</th>
		      <th scope="col">{{ api.week52High }}</th>
		      <th scope="col">{{ api.week52Low }}</th> 
		      
		    </tr>
		{% endif %}
	  {% endfor %}   
{% endif %}
  </tbody>
</table>

{% endblock %}